<div class="text-center">
    <h4>{{title}}</h4>
    <div class="btn-group">
        <button id="{{prevId}}"type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-triangle-left"></span>
        </button>
        <button id="{{nextId}}"type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </button>
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#{{infoId}}">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{removeId}}">
            <span class="glyphicon glyphicon-trash">
        </button>
    </div>
</div>

<div id="{{removeId}}" class="collapse">
    Remove? 
    <button id="{{confirmRemoveId}}" type="button" class="btn">Yes</button>
    <button type="button" class="btn" data-toggle="collapse" data-target="#{{removeId}}">No</button>
</div>

<div id="{{infoId}}" class="collapse">
    <div class="form-group">
        <label for="titleinput">Title</label>
        <input type="text" name="title" class="form-control" id="{{titleInputId}}" value="{{title}}"/>

        <label for="urlinput">URL</label>
        <input type="text" name="url" class="form-control" id="{{urlInputId}}" value="{{baseUrl}}"/>

        <label for="episodeinput">Episode</label>
        <input type="text" name="episode" class="form-control" id="{{episodeInputId}}" value="{{episode}}"/>
    </div>
    <div class="text-center">
        <button type="button" id="{{confirmInfoId}}" class="btn btn-primary" data-toggle="collapse" data-target="#{{infoId}}">Update</button>
        <button type="button" id="{{cancelInfoId}}" class="btn btn-primary" data-toggle="collapse" data-target="#{{infoId}}">Cancel</button>
    </div>
</div>
