<div class="text-center">
    <h4>{{title}}</h4>
    <div class="btn-group">
        <button type="button" class="prev btn btn-primary">
            <span class="glyphicon glyphicon-triangle-left"></span>
        </button>
        <button type="button" class="next btn btn-primary">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </button>
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#{{infoId}}">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{removeId}}">
            <span class="glyphicon glyphicon-trash">
        </button>
    </div>
</div>

<div id="{{removeId}}" class="collapse">
    Remove? 
    <button type="button" class="remove btn">Yes</button>
    <button type="button" class="btn" data-toggle="collapse" data-target="#{{removeId}}">No</button>
</div>

<div id="{{infoId}}" class="collapse">
    <div class="form-group">
        <label for="titleinput">Title</label>
        <input type="text" name="title" class="title form-control" value="{{title}}"/>

        <label for="urlinput">URL</label>
        <input type="text" name="url" class="url form-control" value="{{baseUrl}}"/>

        <label for="episodeinput">Episode</label>
        <input type="text" name="episode" class="episode form-control" value="{{episode}}"/>
    </div>
    <div class="text-center">
        <button type="button" class="update btn btn-primary" data-toggle="collapse" data-target="#{{infoId}}">Update</button>
        <button type="button" class="cancel btn btn-primary" data-toggle="collapse" data-target="#{{infoId}}">Cancel</button>
    </div>
</div>
